<div class="flex flex-col xxs:items-center md:items-start w-full h-full bg-brand-dark p-6">
  <div class="flex">
    <a href="/">
      <img src="/images/homebox_title.svg" class="xxs:w-40 lg:w-1/2"/>
    </a>
  </div>
  <div
    id="steps-container"
    class="flex lg:flex-row xxs:flex-col xxs:items-center w-full xxs:mt-12 lg:mt-40"
  >
    <h2 class="lg:hidden pb-6 text-white text-3xl leading-9 font-extrabold">
      {{step_title}}
    </h2>
    <div id="steps" class="flex lg:mr-4 lg:flex-col h-full lg:w-9 lg:max-w-9">
      {{!-- first step --}}
      {{#if (gt step 1)}}
        <img src="/images/checked-step-indicator.svg" />
        <div
          id="step-connection"
          class="h-0 w-0 lg:h-16 xxs:w-16 lg:w-0 lg:border-l-2 xxs:border-b-2 self-center"
        ></div>
      {{else}}
        <img src="/images/pending-step-indicator.svg" />
        <div
          id="step-connection"
          class="h-0 w-0 lg:h-16 xxs:w-16 lg:w-0 lg:border-l-2 xxs:border-b-2 border-brand self-center"
        ></div>
      {{/if}}
      {{!-- second step --}}
      {{#if (gt step 2)}}
        <img src="/images/checked-step-indicator.svg" />
        <div
          id="step-connection"
          class="h-0 w-0 lg:h-16 xxs:w-16 lg:w-0 lg:border-l-2 xxs:border-b-2 border-white self-center"
        ></div>
      {{else if (eq step 2)}}
        <img src="/images/pending-step-indicator.svg" />
        <div
          id="step-connection"
          class="h-0 w-0 lg:h-16 xxs:w-16 lg:w-0 lg:border-l-2 xxs:border-b-2 border-brand self-center"
        ></div>
      {{else}}
        <img src="/images/step-indicator.svg" />
        <div
          id="step-connection"
          class="h-0 w-0 lg:h-16 xxs:w-16 lg:w-0 lg:border-l-2 xxs:border-b-2 border-brand self-center"
        ></div>
      {{/if}}
      {{!-- third step --}}
      {{#if (eq step 3)}}
        <img src="/images/pending-step-indicator.svg" />
      {{else}}
        <img src="/images/step-indicator.svg" />
      {{/if}}
    </div>
    <div id="steps-description" class="lg:flex flex-col xxs:hidden">
      <div class="flex flex-col">
        <h3 class="text-white text-sm leading-4 tracking-wide font-semibold">
          PLAN
        </h3>
        <p class="text-neutral-100 text-sm leading-5 font-normal">
          Select a Plan, which fits your business needs.
        </p>
      </div>
      <div class="flex flex-col mt-10">
        <h3
          class="{{#if (gte step 2)}}text-white{{else}}text-neutral-100{{/if}} text-sm leading-4 tracking-wide font-semibold"
        >
          ACCOUNT
        </h3>
        <p class="text-neutral-100 text-sm leading-5 font-normal">
          Create an account to manage your business.
        </p>
      </div>
      <div class="flex flex-col mt-10">
        <h3
          class="{{#if (gte step 3)}}text-white{{else}}text-neutral-100{{/if}} text-sm leading-4 tracking-wide font-semibold"
        >
          STRIPE ONBOARDING
        </h3>
        <p class="text-neutral-100 text-sm leading-5 font-normal">
          Finalize account setup to use all features.
        </p>
      </div>
    </div>
  </div>
</div>
