{{#unless session.isOnboarded}}
  {{> onboarding_notice}}
{{/unless}}
{{> header route="Customers"}}

<main>
   <!-- This example requires Tailwind CSS v2.0+ -->
   <div class="bg-white">
      <div class="mx-auto px-4 py-4 sm:px-6 sm:py-8 lg:px-88 relative ">
         <img src="/images/terminal.jpg"/>
         <div class="absolute top-12 right-12 min-w-96">
            <div class="bg-white shadow-md px-6 py-6 mb-4 flex space-x-4">
               <h2 class="font-bold text-2xl mb-8">Connect device:</h2>
               {{> terminal_select }}
            </div>
            <div class="bg-white shadow-md px-6 py-6">
               <h3 class="text-3xl font-bold"> {{ formatCurrency 'en-US' invoice.amount_due }}</h3>
               <div class="font-light flex justify-between gap-x-4">Date {{formatDate invoice.due_date}} <span class="font-sm px-2 bg-red-300 text-red-900 font-bold uppercase">{{invoice.status}}</span></div>
               <div class="mt-10">
                  <ul class="space-y-2">
                     <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold"> Customer </div>
                        <div> {{invoice.customer_name}}</div>
                     </li>
                     <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold"> From </div>
                        <div> {{invoice.account_name}}</div>
                     </li>
                     <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold"> Total </div>
                        <div>  {{ formatCurrency 'en-US' invoice.total }}</div>
                     </li>
                     <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold"> Amount Paid </div>
                        <div> {{ formatCurrency 'en-US' invoice.amount_paid }} </div>
                     </li>
                      <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold"> Amount Due </div>
                        <div> {{ formatCurrency 'en-US' invoice.amount_due }}</div>
                     </li>
                     <li class="grid grid-cols-2 ">
                        <div class="text-gray-500 font-semibold">Invoice </div>
                        <div> {{invoice.id}}</div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="bg-white shadow-md px-6 py-6 mt-4">
               <h2 class="font-bold text-2xl mb-8">Collect payment</h2>
               <button id="charge" onclick=handleCharge() class="relative xxs:flex xxs:mt-4 md:mt-0 justify-center items-center px-6 py-2.5 border border-transparent text-xl font-medium rounded shadow-sm text-white bg-brand hover:bg-brand-outline active:ring-2 active:ring-offset-2 active:ring-brand-outline w-full disabled:opacity-75 disabled:pointer-events-none" disabled="disabled">Collect {{ formatCurrency 'en-US' invoice.amount_due }}</button>
            </div>
            <div></div>
         </div>
         <!-- This example requires Tailwind CSS v2.0+ -->
         <div id="simulation" class="hidden relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

            <!--
               Background backdrop, show/hide based on modal state.
               
               Entering: "ease-out duration-300"
                 From: "opacity-0"
                 To: "opacity-100"
               Leaving: "ease-in duration-200"
                 From: "opacity-100"
                 To: "opacity-0"
               -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 overflow-y-hidden">
               <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                  <!--
                     Modal panel, show/hide based on modal state.
                     
                     Entering: "ease-out duration-300"
                       From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                       To: "opacity-100 translate-y-0 sm:scale-100"
                     Leaving: "ease-in duration-200"
                       From: "opacity-100 translate-y-0 sm:scale-100"
                       To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                     -->
                  <div class="relative transform  rounded-lg  px-4 pt-5 pb-4 text-left transition-all sm:my-8  sm:p-6">
                     <div>
                        <div class=" w-full flex justify-center">
                           <img class="h-screen hidden" src="/images/device.jpeg"/>
                           {{> wisepos invoice=invoice}}

                        </div>
                     </div>
                     <div class="mt-5 sm:mt- hidden">
                        <button type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm">Go back to dashboard</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{{> footer}}


<script>

    var simulateButton = document.querySelector('#simulate');
    var connect_elem = document.querySelector('#connect');
    let chargeButton = document.querySelector('#charge');
    let screens = document.querySelectorAll('.screen');

    var tapToPay = document.querySelector('#tap-to-pay');
    var terminalPayButton = document.querySelector('#terminal_pay');
    let isVirtual = false;


    var terminal;
    initializeSDK();
    terminal.setSimulatorConfiguration({testCardNumber: '4242424242424242'});   




   function handleCharge()
   {
      let simulation = document.querySelector('#simulation');
        simulation.classList.remove('hidden');
        document.querySelector('html').classList.add('overflow-hidden');

   }




    terminalPayButton.addEventListener("click", function(){
        checkout();

        screens[1].classList.add('hidden');
        screens[2].classList.remove('hidden')
    }, false);


    console.log(terminal);


    async function checkout() {
    // clientSecret is the client_secret from the PaymentIntent you created in Step 1.
        let paymentIntent;
        await terminal.collectPaymentMethod('{{client_secret}}').then(function(result) {
            if (result.error) {
            // Placeholder for handling result.error
            } else {
                paymentIntent = result.paymentIntent;
                terminal.processPayment(paymentIntent).then(function(result) {
                    if (result.error) {
                        console.log(result.error);
                    } else if (result.paymentIntent) {
                        fetch('/invoices', {
                            method: "PUT",
                            body:JSON.stringify({paymentIntent: result.paymentIntent}),
                            headers: { 'Content-Type': 'application/json',}
                             
                              })
                            .then(function(response) {
                            return response.json();
                            })
                            .then(function(data) {
                                screens[2].classList.add('hidden');
                                 screens[3].classList.remove('hidden')
                            return data;
                            });
                    }
                })
            }
        });


    }

    async function initializeSDK(){
        terminal = StripeTerminal.create({
        onFetchConnectionToken: fetchConnectionToken,
        onUnexpectedReaderDisconnect: unexpectedDisconnect,
        });



    }

    function unexpectedDisconnect() {
        // You might want to display UI to notify the user and start re-discovering readers
     }

    async function fetchConnectionToken() {
    // Your backend should call /v1/terminal/connection_tokens and return the JSON response from Stripe
    return fetch('/connection_token', { method: "POST" })
        .then(function(response) {
        return response.json();
        })
        .then(function(data) {
        return data.secret;
        });
    }


 function connectReaderHandler() {
    //spinner.classList.remove('hidden');
    var config = { simulated: true };
    terminal.discoverReaders(config).then(function (discoverResult) {
      if (discoverResult.error) {
        console.log('Failed to discover: ', discoverResult.error);
      } else if (discoverResult.discoveredReaders.length === 0) {
        console.log('No available readers.');
      } else {
        // Just select the first reader here.
        var selectedReader = discoverResult.discoveredReaders[0];
        terminal.connectReader(selectedReader).then(function (connectResult) {
          if (connectResult.error) {
            console.log('Failed to connect: ', connectResult.error);
          } else {
            isVirtual = true;
            /*let simulation = document.querySelector('#simulation');
            simulation.classList.remove('hidden');
            document.querySelector('html').classList.add('overflow-hidden');

            screens[0].classList.add('hidden');
            screens[1].classList.remove('hidden');*/
            document.querySelector('#selected-item').textContent = "Virtual Reader";
            document.querySelector('#virtual_option .indicator').classList.remove('bg-red-500');
            document.querySelector('#virtual_option .indicator').classList.add('bg-green-500');
            chargeButton.disabled= terminal.getConnectionStatus() == "connected" ? false : true

            //document.querySelector('#virtual-device-container').classList.remove('hidden', 'invisible');
            window.notificationEvents.success('Virtual Reader Connected', 'Now you can pay this order with the simulated reader');

          }
        });
      }
    });
  }
  



  // Connect Physical reader
  function discoverReaders() {
    const config = { simulated: false, location: 'tml_EzPZ6w4QyrBkeF' }
    terminal.discoverReaders(config).then(function (discoverResult) {
      if (discoverResult.error) {
        console.log('Failed to discover: ', discoverResult.error);
      } else if (discoverResult.discoveredReaders.length === 0) {
        console.log('No available readers.');
       document.querySelector('#reader_list_container').classList.remove('hidden');
       document.querySelector('#reader_list_container').textContent = 'No available readers.';

      } else {
        discoveredReaders = discoverResult.discoveredReaders
        displayReaders(discoverResult.discoveredReaders);
        // You should show the list of discoveredReaders to the
        // cashier here and let them select which to connect to (see below).
        //connectReader(discoverResult);
      }
    });
  }
  function displayReaders(discoverResult) {
    try {
      if (discoverResult) {
        let elemList = [];
        let readerList = document.querySelector('#reader_list');
        discoverResult.forEach((reader) => {
          let indicator = reader.status === "offline" ? 'bg-red-400' : 'bg-green-400';
          let itemElem = `<li class="flex items-center py-1 space-x-2" data-device="${reader.device_type}"><span class="w-2 h-2 ${indicator} rounded-full"></span><button onclick="connectReader('${reader.id}')" id="${reader.id}" class="inline-flex items-center rounded border border-transparent bg-gray-100 px-2.5 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">${reader.label}</button></li>`;
          elemList.push(itemElem);
        });
        document.querySelector('#reader_list_container').classList.remove('hidden');
        readerList.innerHTML = elemList.join(" ");
      }
    }
    catch (error) {
      console.error(error);
    }
  }
  function connectReader(deviceId) {
    if(terminal.getConnectionStatus() == "connected"){
      terminal.disconnectReader();
    }
    const selectedReader = discoveredReaders.find(device => device.id === deviceId)

    terminal.connectReader(selectedReader).then(function (connectResult) {
      if (connectResult.error) {
        console.log('Failed to connect: ', connectResult.error);
      } else {
        chargeButton.disabled = cart.size > 0 ? false : true;

        console.log('Connected to reader: ', connectResult.reader.label);
        document.querySelector('#selected-item').textContent = connectResult.reader.label;
        document.querySelector('#physical_option .indicator').classList.add('bg-green-500');

      }
    });
  }
</script>














<style>

.Phone_iphone___2aZn {
    height: 1000px;
    width: 423px;
    padding: 0 15px;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #111;
    border: 5px solid #3d3d3d;
    border-radius: 70px 70px 70px 70px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2),0 0 0 1px #999,0 0 30px 0 rgba(0,0,0,.7)
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_silent__nMQ0I,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_sleep__oVvzO,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    background: #111;
    position: absolute;
    border-radius: 2px 0 0 2px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_silent__nMQ0I {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    left: -8px;
    height: 60px;
    width: 4px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_sleep__oVvzO {
    left: auto;
    right: -8px;
    top: 180px;
    height: 100px;
    width: 4px;
    border-radius: 0 2px 2px 0
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    top: 170px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI {
    top: 250px
}

.Phone_iphone___2aZn .Phone_top__o_F4Y {
    position: absolute;
    top: 4px;
    width: 100%;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    z-index: 4;
    -moz-filter: url(#goo);
    -o-filter: url(#goo);
    filter: url(#goo)
}

.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_black-bar__Zboot {
    position: absolute;
    height: 1px;
    width: 70%;
    padding-top: 2px;
    background: #111
}

.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_iphone-top__3_Mxl {
    position: relative;
    height: 40px;
    width: 55%;
    border-radius: 0 0 20px 20px;
    background: #111;
    z-index: 2
}

.Phone_iphone___2aZn .Phone_components__n728B,.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_iphone-top__3_Mxl {
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_components__n728B {
    position: absolute;
    top: 20px;
    padding-left: 12px
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_speaker__DYbTs {
    height: 6px;
    width: 70px;
    margin: 0 30px;
    border-radius: 6px 6px 6px 6px;
    border-bottom: 1px solid #333;
    background: #222;
    z-index: 100
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 {
    height: 15px;
    width: 15px;
    border-radius: 50% 50% 50% 50%;
    border-bottom: 1px solid #444;
    background: radial-gradient(#000,#333);
    opacity: .5;
    z-index: 4
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 .Phone_shine-left___R3yA {
    position: absolute;
    height: 10px;
    width: 10px;
    margin: 2px;
    border-left: 4px solid #1e90ff;
    border-right: transparent;
    background: #000;
    border-radius: 50% 50% 50% 50%;
    -moz-filter: blur(1.8px);
    -o-filter: blur(1.8px);
    filter: blur(1.8px)
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 .Phone_shine-left___R3yA:before {
    content: "";
    position: absolute;
    right: 0;
    height: 8px;
    width: 8px;
    border-right: 2px solid #fff;
    border-radius: 4px 4px 4px 4px
}

.Phone_iphone___2aZn .Phone_bottom-bar__kgdWn,.Phone_iphone___2aZn .Phone_top-bar__3IpQA {
    position: absolute;
    left: -5px;
    height: 15px;
    width: 423px;
    border-left: 5px solid #111;
    border-right: 5px solid #111
}

.Phone_iphone___2aZn .Phone_top-bar__3IpQA {
    top: 65px
}

.Phone_iphone___2aZn .Phone_bottom-bar__kgdWn {
    bottom: 65px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai {
    position: absolute;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    margin: 0 auto;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,.9);
    border-radius: 60px 60px 60px 60px;
    overflow: hidden
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai video {
    height: 100%;
    max-width: none
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_info__9Kw6V {
    position: absolute;
    top: 140px;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_time__QiO2M {
    position: absolute;
    top: 8px;
    left: 30px;
    line-height: 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 200
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-lock__1RXTo {
    position: absolute;
    top: 95px;
    height: 26px;
    width: 34px;
    background: #fff;
    border-radius: 3px 3px 3px 3px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-lock__1RXTo:before {
    content: "";
    position: absolute;
    top: -18px;
    right: 4px;
    height: 30px;
    width: 26px;
    border: 4px solid #fff;
    border-radius: 26px 26px 26px 26px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-carrier__xfebi,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-date__zsH_x,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    margin: 2rem 0 1.6rem;
    line-height: 3rem
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-carrier__xfebi {
    position: absolute;
    top: 11px;
    left: 42px;
    font-weight: 200;
    font-size: .9em
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    font-size: 6em;
    font-weight: 100;
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-date__zsH_x {
    font-weight: 100;
    font-size: 1.5em
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-bar__fSoWM,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-swipe__WBCp8,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w {
    position: absolute;
    font-family: Helvetica Neue,sans-serif
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-swipe__WBCp8 {
    bottom: 25px;
    font-size: 1.1em;
    font-weight: 100;
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-bar__fSoWM {
    bottom: 10px;
    height: 4px;
    width: 45%;
    border-radius: 2px 2px 2px 2px;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w {
    top: 12px;
    left: 12px;
    height: 14px;
    width: 25px;
    display: flex;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b {
    width: 4px;
    display: flex;
    border-radius: 1px 1px 1px 1px;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:first-child {
    height: 2px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:nth-child(2) {
    height: 6px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:nth-child(3) {
    height: 10px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:last-child {
    height: 14px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 {
    position: absolute;
    top: 11px;
    right: 32px;
    height: 16px;
    width: 32px;
    border: 1px solid #fff;
    border-radius: 2px 2px 2px 2px;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_energy__D9FrR,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_nub__JpQ71 {
    position: absolute;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_nub__JpQ71 {
    top: 4px;
    right: -4px;
    height: 6px;
    width: 2px;
    border-radius: 0 4px 4px 0
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_energy__D9FrR {
    left: 1px;
    height: 12px;
    width: 18px;
    border-radius: 1px 0 0 1px
}

@media screen and (min-height: 500px) {
    .Phone_iphone___2aZn {
        transform:scale(.7)
    }
}

@media screen and (min-height: 1000px) {
    .Phone_iphone___2aZn {
        transform:scale(.7)
    }
}

@media screen and (min-height: 1500px) {
    .Phone_iphone___2aZn {
        transform:scale(1.25)
    }
}



</style>