{{#unless session.isOnboarded}}
  {{> onboarding_notice}}
{{/unless}}
{{> header route="Services"}}
<div
  class="flex flex-col justify-between relative h-screen mt-0.5 flex-1 w-full text-left"
>
  <div>
    <div
      class="flex md:items-center justify-between xxs:items-start xxs:flex-col md:flex-row xxs:py-10 xxs:px-4 lg:px-8"
    >
      <a href="/services">
        <button
          type="button"
          class="inline-flex items-center px-2.5 py-1.5 border border-dark-gray-300 shadow-sm text-xs font-medium rounded text-dark-gray-700 bg-white hover:bg-dark-gray-50 active:ring-1 active:ring-dark-gray-400"
        >
          <svg
            width="15"
            height="12"
            viewBox="0 0 15 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.16667 10.6668L1.5 6.00016M1.5 6.00016L6.16667 1.3335M1.5 6.00016L13.5 6.00016"
              stroke="#919191"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="ml-3">
            Back
          </span>
        </button>
      </a>
    </div>
    <div class="flex w-full lg:px-8 lg:flex-row xxs:flex-col">
      <div class="xxs:px-4 xxs:mb-4 lg:mb-0 lg:px-0">
        <h1 class="text-lg">
          Service detail information
        </h1>
        <p class="text-sm text-dark-gray-500">
          Use a permanent address where you can receive mail.
        </p>
      </div>
      <div class="flex flex-col flex-1 sm:mt-5 lg:ml-20 xl:ml-28 lg:mt-0 w-full">
        <div class="flex flex-col w-full h-full px-10 pt-14 pb-24 md:shadow-md bg-white rounded">
          <div
            id="service-name-row"
            class="flex xxs:flex-col md:flex-row xxs:pb-4 md:pb-5 md:border-b border-b-dark-gray-200"
          >
            <div class="flex flex-1 text-dark-gray-500">
              Service name
            </div>
            <div class="flex flex-2 xxs:mt-1 md:mt-0 align-center text-brand-dark font-normal">
              {{service.name}}
            </div>
          </div>
          <div
            id="service-type-row"
            class="flex xxs:py-4 md:py-5 xxs:flex-col md:flex-row md:border-b border-b-dark-gray-200"
          >
            <div class="flex flex-1 text-dark-gray-500">
              Service type
            </div>
            <div class="flex flex-2 align-center text-brand-dark font-normal">
              {{service.metadata.type}}
            </div>
          </div>
          <div
            id="service-price-row"
            class="flex xxs:py-4 md:py-5 xxs:flex-col md:flex-row md:border-b border-b-dark-gray-200"
          >
            <div class="flex flex-1 text-dark-gray-500">
              Price
            </div>
            <div class="flex flex-2 align-center text-brand-dark font-normal">
              $
              {{centsToDollars service.price.unit_amount}}
              USD
            </div>
          </div>
          <div
            id="service-description-row"
            class="flex xxs:py-4 md:py-5 xxs:flex-col md:flex-row md:border-b border-b-dark-gray-200"
          >
            <div class="flex flex-1 text-dark-gray-500">
              Description
            </div>
            <div class="flex flex-2 align-center text-brand-dark font-normal">
              {{service.description}}
            </div>
          </div>
          <div
            id="service-created-date-row"
            class="flex xxs:mt-4 md:pt-5 xxs:flex-col md:flex-row md:border-b-dark-gray-200"
          >
            <div class="flex flex-1 text-dark-gray-500">
              Created date
            </div>
            <div class="flex flex-2 align-center text-brand-dark font-normal">
              {{formatDate service.created}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
